<!DOCTYPE html>
<html class="no-js">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>SDK Documentation</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
</head>
<body>
  <!--[if lt IE 8]>
  <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
  <![endif]-->
  
  <div class="container">
    <div class="page-header">
      <h1>
        <small>SDK Documentation</small>
        <br>
        Welcome
      </h1>
    </div>
  </div>
  
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h3><a href="api/index.html">SDK Documentation</a></h3>
        <p>Start exploring the detailed SDK documentation.</p>
        
        <h3>Models</h3>
        <p>Use models to work with instances of API objects.</p>
        <ul>
          
            <li><a href="api/classes/WeatherByZip.html">WeatherByZip</a></li>
          
        </ul>
        
        <h3>Collections</h3>
        <p>
          The primary means of data access:  use collections to fetch and query
          the API.  An API object may have many collections, known as
          query scopes.
          <a href="guides/getting_started_guides/working_with_collections/index.html">Read the quick-start collections guide.</a>
        </p>
        
          <h2 class="quiet">WeatherByZip</h2>
          <ul>
            
              <li><a href="api/classes/WeatherByZipAll.html">WeatherByZipAll</a></li>
            
              <li><a href="api/classes/WeatherByZipExactMatch.html">WeatherByZipExactMatch</a></li>
            
              <li><a href="api/classes/WeatherByZipCount.html">WeatherByZipCount</a></li>
            
              <li><a href="api/classes/WeatherByZipCountExactMatch.html">WeatherByZipCountExactMatch</a></li>
            
          </ul>
        
      </div>
      <div class="col-md-6">
        {{#guides}}
          <h4 class="text-muted">{{ title }}</h4>
          <ul>
            {{#items}}
              <li>
                <h5><a href="guides/{{ section_name }}/{{ name }}/index.html">{{ title }}</a></h5>
                <p>{{ description }}</p>
              </li>
            {{/items}}
          </ul>
        {{/guides}}
      </div>
    </div>
    
    <hr>
  </div>
  
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
</body>
</html>
